* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

:root {
  --white: #ffffff;
  --black: #303030;
  --offWhite: #f9f9f9;
  --orange: #c07212;
}

/* HEADER */
header {
  width: 100%;
  height: 475px;
  background-color: var(--black);
  color: var(--white);
  align-content: center;
}
#headerTitle {
  font-size: 60px;
  margin: 0 0 20px 62px;
}
#headerText {
  font-size: 20px;
  margin-left: 62px;
  font-weight: 500;
}

/* INFORMATION */
#information {
  display: flex;
  width: 100%;
  height: 229px;
  background-color: var(--offWhite);
  align-items: center;
  justify-content: space-evenly;
}
.info h1 {
  font-size: 40px;
}
.info p {
  font-size: 20px;
}

/* MAIN */
main {
  display: flex;
  width: 100%;
  height: 779px;
  align-items: center;
  justify-content: center;
}
#mainContent {
  width: 735px;
  padding-right: 64px;
  align-content: center;
}
#mainTitle {
  font-size: 40px;
  font-weight: 500;
}
#mainText {
  font-size: 24px;
  font-weight: 300px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 638px;
  background-color: var(--black);
  color: var(--white);
  align-content: center;
  justify-items: center;
}
#footerTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}
form {
  display: grid;
  justify-items: center;
}
input {
  width: 508px;
  height: 72px;
  border-radius: 10px;
  margin-bottom: 62px;
  font-size: 24px;
  padding-left: 30px;
}
button {
  width: 286px;
  height: 74px;
  border: none;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
  margin-top: 26px;
  cursor: pointer;
}
button:hover {
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #05103081;
  transition-duration: 0.5s;
  border-radius: 40px;
}
